[submodule "node_modules/.pnpm/@layerzerolabs+toolbox-foundry@0.1.7/node_modules/@layerzerolabs/toolbox-foundry/lib/balancer-v2-monorepo"]
	path = node_modules/.pnpm/@layerzerolabs+toolbox-foundry@0.1.7/node_modules/@layerzerolabs/toolbox-foundry/lib/balancer-v2-monorepo
	url = https://github.com/balancer/balancer-v2-monorepo
